amqp==2.3.2
arrow==0.12.1
beautifulsoup4==4.6.3
billiard==3.5.0.4
bs4==0.0.1
celery==4.2.1
click==6.7
entrypoints==0.2.3
Flask==1.0.2
Flask-PyMongo==2.1.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
keyring==15.1.0
kombu==4.2.1
lxml==4.2.5
MarkupSafe==1.0
numpy==1.15.2
pandas==0.23.4
pymongo==3.7.1
python-dateutil==2.7.3
pytz==2018.5
pywin32-ctypes==0.2.0
selenium==3.14.1
simplejson==3.16.0
six==1.11.0
urllib3==1.26.5
vine==1.1.4
Werkzeug==0.14.1
